@model IEnumerable<Team>
<a asp-action="Index" asp-controller="Home" asp-route-teamtypeid="">Home</a>
<br />
@foreach (var x in Model)
{
    <a asp-action="Index" asp-controller="Home" asp-route-teamtypeid="@x.TeamId"
       asp-route-teamtype="@x.TeamName">
    @x.TeamName</a>
    <br />
}